
h1{
    color:greenyellow;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
   
}
.timer-container{
width: 1000px;
height: 300px;
background-color: black;
border-radius: 30px;
margin-left: 15%;
margin-top: 15px;

}
.container-buttons{
    
    display: inline-block;                 
    justify-content: center;       
    align-items: center;  
    margin-left: 160px;
    margin-top: 50px;
    
}
.btn{
    display: inline-block;
    margin: 0 5px;                 
    padding: 10px 20px; 
    
    
}
h2{
    color:aliceblue;
    font-size: 50px;
   text-align: center;
   margin-top: 50px;
}

   

